<div class="admin-content" ng-controller="BucketlistCtrl">
  <div>
    <p>Bucketlist item</p>
    <form class="form-horizontal">
      <input placeholder="Title" type="text" name="title" ng-model="adminService.bucketlist.item.title" /><br />
      <textarea placeholder="Description" name="description" ng-model="adminService.bucketlist.item.description"></textarea><br />
      <select ng-model="adminService.bucketlist.item.rating" ng-options="rating for rating in ratings">
                      <option value="">Rating</option>
                    </select><br />
      <button class="btn"  ng-click="adminService.editResource({type: 'bucketlist', item: adminService.bucketlist.item })">EDIT</button>
      <button class="btn"  ng-click="adminService.createResource({type: 'bucketlist', item: adminService.bucketlist.item })">CREATE</button>
    </form>

  </div>
  <br />
  <br />
  <div>
    Resources: <div resources list="adminService.bucketlist.resources" display="title" edit="adminService.editItem(item)" del="del(adminService.delItem(item))" type="bucketlist"></div>
  </div>
</div>
