<div class="admin-content" ng-controller="EducationCtrl">
<p>Create new education</p>
  <form class="simple-form">
    Institution: <input type="text" name="institution" ng-model="adminService.resource.institution" /><br />
    Degree: <input type="text" name="degree" ng-model="adminService.resource.degree" /><br />
    Duration: <input type="text" name="duration" ng-model="adminService.resource.duration" /><br />
    Description: <textarea name="description" ng-model="adminService.resource.description"></textarea><br />
    Tags: <input name="tag" ng-model="tag">
    <button ng-click="addTag(tag)">Add tag</button><br />

    <button ng-click="adminService.editResource({type: 'education', item: adminService.resource })">EDIT</button>
      <button ng-click="adminService.createResource({type: 'education', item: adminService.resource })">CREATE</button>
    </form>

  </div>
  <br />
  <br />
  <div>
    Resources: <div resources list="adminService.resources" display="title" edit="adminService.editItem(item)" del="del(adminService.delItem(item))" type="education"></div>
  </div>
</div>
