<div class="admin-content" ng-controller="ExperienceCtrl">
<p>Create new experience item</p>
  <form class="simple-form">
    Company: <input type="text" name="title" ng-model="experience.title" /><br />
    Description: <textarea name="description" ng-model="experience.description"></textarea><br />
    StartDate: <input name="startDate" ng-model="experience.startDate"><br />
    EndDate: <input name="endDate" ng-model="experience.endDate"><br /><br />
    Project title: <input name="project_title" ng-model="project_title"><br />
    Project-description: <textarea name="proj_desc" ng-model="proj_desc"></textarea>
    <button ng-click="addProject(project_title, proj_desc)">Add project</button><br />

    Tags: <input name="tag" ng-model="tag">
    <button ng-click="addTag(tag)">Add tag</button><br />



    <button ng-click="reset()">RESET</button>
    <button ng-click="update(experience)">SAVE</button>
  </form>
  <pre>form = {{experience | json}}</pre>
  <pre>master = {{master | json}}</pre>
  <pre>tags = {{tags | json}}</pre>
  <pre>projects = {{projects | json}}</pre>
</div>
