<div class="admin-content" ng-controller="MeCtrl">
<p>Create new me item</p>
  <form class="simple-form">
    Title: <input type="text" name="title" ng-model="me.title" /><br />
    About: <textarea name="description" ng-model="me.about"></textarea><br />
    Contact: <input type="text" name="contact" ng-model="contact" />
    <button ng-click="addContact(contact)">Add contact</button><br />

    <button ng-click="reset()">RESET</button>
    <button ng-click="update(me)">SAVE</button>
  </form>
  <pre>form = {{me | json}}</pre>
  <pre>master = {{master | json}}</pre>
  <pre>contact = {{contacts | json}}</pre>

</div>
