<div class="offset2 span8">
  <h1>Text</h1>
  <h2>What is this?</h2>
  <p>

  </p>
  <h2>Why?</h2>
  <p>
    One of the most frustrating things that I have encountered after graduating is that none of them tests their software. After a failed attempt to actually write tests for a project at work, I decided to figure this out on my own.<br>
    I know for a fact that testing is important, but I never had the chance to actually test any of the code I've written, and I didn't completly un
  </p>
  <h2>Scope of the project</h2>
</div>
