<div class="admin-content hero-unit">

  <div ng-controller="BucketlistCtrl">
    <div>
      <h1>Bucketlist item</h1>
      <form class="form-vertical">
        <input placeholder="Title" type="text" name="title" ng-model="adminService.bucketlist.item.title" /><br />
        <textarea placeholder="Description" name="description" ng-model="adminService.bucketlist.item.description"></textarea><br />
        <select ng-model="adminService.bucketlist.item.rating" ng-options="rating for rating in ratings">
                        <option value="">Rating</option>
                      </select><br />
        <span class="text-info"> {{ mode|uppercase }} MODE </span><br>
        <button class="btn" ng-disabled="isCreateMode()" ng-click="editResource({type: 'bucketlist', item: adminService.bucketlist.item })">SAVE</button>
        <button class="btn" ng-disabled="isCreateMode()" ng-click="resetCurrent()">CLEAR</button>
        <button class="btn" ng-disabled="!isCreateMode()" ng-click="createResource({type: 'bucketlist', item: adminService.bucketlist.item })">CREATE</button>
      </form>
    </div>
    <p> Status: <span class="text-info"> {{ status }}</span></p>
    <pre>Current item: {{ currentItem | json }} </pre>
    <br />
    <br />
    <div>
      Resources: <div resources list="adminService.bucketlist.resources" display="title" edit="edit(item)" del="del(adminService.delItem(item))" type="bucketlist"></div>
    </div>
  </div>
  <br />
  <hr>
  <br />

  <div ng-controller="EducationCtrl">
    <div>
      <h1>Education item</h1>
      <form class="form-vertical">
        <input placeholder="Institution" type="text" name="institution" ng-model="adminService.education.item.institution" /><br />
        <input placeholder="Degree" type="text" name="degree" ng-model="adminService.education.item.degree" /><br />
        <textarea placeholder="Description" name="description" ng-model="adminService.education.item.description"></textarea><br />
        <input placeholder="Tag" type="text" name="tag" ng-model="tag"/>
        <button class="btn" ng-click="addTag(tag)">ADD TAG</button>
        <br />
        <button class="btn" ng-click="editResource({type: 'education', item: adminService.education.item })">SAVE</button>
        <button class="btn" ng-click="createResource({type: 'education', item: adminService.education.item })">CREATE</button>
      </form>
    </div>
    <button class="btn btn-danger btn-mini" ng-repeat="tag in currentItem.tags" ng-click="removeTag(tag)">Remove: {{tag}}</button>
    <p> Status: <span class="text-info"> {{ status }}</span></p>
    <pre>Current item: {{ currentItem | json }} </pre>
    <br />
    <br />
    <div>
      Resources: <div resources list="adminService.education.resources" display="institution" edit="edit(item)" del="del(adminService.delItem(item))" type="education"></div>
    </div>
  </div>

  <br />
  <hr>
  <br />


  <div ng-controller="ExperienceCtrl">
    <div>
      <h1>Experience item</h1>
      <form class="form-vertical">
        <input placeholder="Company" type="text" name="company" ng-model="adminService.experience.item.company" /><br />
        <input placeholder="Duration" type="text" name="duration" ng-model="adminService.experience.item.duration" /><br />
        <textarea placeholder="Description" name="description" ng-model="adminService.experience.item.description"></textarea><br />
        <input placeholder="Tag" type="text" name="tag" ng-model="tag"/>
        <button class="btn" ng-click="addTag(tag)">ADD TAG</button>
        <br />
        <button class="btn" ng-click="editResource({type: 'experience', item: adminService.experience.item })">SAVE</button>
        <button class="btn" ng-click="createResource({type: 'experience', item: adminService.experience.item })">CREATE</button>
      </form>
    </div>
    <button class="btn btn-danger btn-mini" ng-repeat="tag in currentItem.tags" ng-click="removeTag(tag)">Remove: {{tag}}</button>
    <p> Status: <span class="text-info"> {{ status }}</span></p>
    <pre>Current item: {{ currentItem | json }} </pre>
    <br />
    <br />
    <div>
      Resources: <div resources list="adminService.experience.resources" display="company" edit="edit(item)" del="del(adminService.delItem(item))" type="experience"></div>
    </div>
  </div>

  <br />
  <hr>
  <br />

  <div ng-controller="MeCtrl">
    <div>
      <h1>Me item</h1>
      <form class="form-vertical">
        <input placeholder="Title" type="text" name="title" ng-model="adminService.me.item.title" /><br />
        <textarea placeholder="Description" name="description" ng-model="adminService.me.item.description"></textarea><br />
        <input placeholder="Tag" type="text" name="tag" ng-model="tag"/>
        <button class="btn" ng-click="addTag(tag)">ADD TAG</button>
        <br />
        <button class="btn" ng-click="editResource({type: 'me', item: adminService.me.item })">SAVE</button>
        <button class="btn" ng-click="createResource({type: 'me', item: adminService.me.item })">CREATE</button>
      </form>
    </div>
    <button class="btn btn-danger btn-mini" ng-repeat="tag in currentItem.tags" ng-click="removeTag(tag)">Remove: {{tag}}</button>
    <p> Status: <span class="text-info"> {{ status }}</span></p>
    <pre>Current item: {{ currentItem | json }} </pre>
    <br />
    <br />
    <div>
      Resources: <div resources list="adminService.me.resources" display="title" edit="edit(item)" del="del(adminService.delItem(item))" type="me"></div>
    </div>
  </div>

<br />
  <hr>
  <br />

  <div ng-controller="UserCtrl">
    <div>
      <h1>User</h1>
      <form class="form-vertical">
        <input placeholder="username" type="text" name="username" ng-model="adminService.user.item.username" /><br />
        <input placeholder="password" type="password" name="password" ng-model="adminService.user.item.password" /><br />
        <button class="btn"  ng-click="editResource({type: 'user', item: adminService.user.item })">SAVE</button>
        <button class="btn"  ng-click="createResource({type: 'user', item: adminService.user.item })">CREATE</button>
      </form>
    </div>
    <p> Status: <span class="text-info"> {{ status }}</span></p>
    <pre>Current item: {{ currentItem | json }} </pre>
    <br />
    <br />
    <div>
      Resources: <div resources list="adminService.user.resources" display="username" edit="edit(item)" del="del(adminService.delItem(item))" type="user"></div>
    </div>
  </div>

</div>

