<div class="row offset1" ng-controller="CVCtrl">
    <h2>CV - Kim Pettersen <small>(kim.a.pettersen at gmail.com)</small></h2>

    <br>
    <div>
      This web application is written in <b>Angular JS</b> which is communicating with an <b>API</b> written in <b>Node JS</b> using <b>MongoDB</b> as a database. You are encouraged to clone the project from Github and play with it.<br><br>

      For instructions on how to clone and run the application, visit the <a href="http://www.github.com/kimpettersen/angular-node-cv">documentation</a> on Github
      where you also can read about my experience working with this project.<br><br>

      <!-- If you prefer, <a href="javascript:;">download the LaTeX version</a> of my CV. -->
    </div>
    <br>
    <div>
      <big><i>I am currently looking for a challenging job opportunity, preferably in NYC.</i></big>
    </div>
    <hr>
    <h3>Education</h3>
    <div ng-repeat="t in education">
      <b ng-bind-html="t.institution"></b> - <span ng-bind-html="t.degree">{{t.duration}}</span>
      <div ng-bind-html="t.description" ng-html-bind="t.description">
      </div>
      <br>
    </div>
    <h3>Experience</h3>
    <div ng-repeat="t in experience">
      <b ng-bind-html="t.company"></b> - {{t.duration}}

        <div ng-bind-html="t.description" ng-html-bind="t.description">
        </div>
        <br>
    </div>
    <hr>
    <h3>About me</h3>
    <div ng-repeat="t in about">
      <b ng-bind-html="t.title"></b>
      <div ng-bind-html="t.description" ng-html-bind="t.description">
      </div>
      <div>
        <br>
        <b>Get in touch:</b>
        <ul ng-repeat="tag in t.tags">
          <li>{{tag}}</li>
        </ul>
      </div>
    </div>
</div>
