<div class="row offset1" ng-controller="CVCtrl">
    <h1>CV - Kim Pettersen</h1>
    <br>

    <div>
      <strong>Important: </strong>This is the web interface of my CV. It is an <b>Angular JS</b> application that
      are communicating with an <b>API</b> written in <b>Node JS</b>, using <b>MongoDB</b> as a database. You are encouraged to clone the project from github and play with it.<br><br>

      See <a ng-href="/#/about">About page for more information.</a><br>
      You can also <a href="javascript:;">print</a>, or <a href="javascript:;">download</a> it as a PDF.
    </div>

    <hr>

    <h3>Education</h3>
    <div ng-repeat="t in education">
      <b ng-bind-html="t.institution"></b> - <span ng-bind-html="t.degree">{{t.duration}}</span>
      <div ng-bind-html="t.description" ng-html-bind="t.description">
      </div>
      <br>
    </div>

    <h3>Experience</h3>
    <div ng-repeat="t in experience">
      <b ng-bind-html="t.company"></b>
        <div ng-bind-html="t.description" ng-html-bind="t.description">
        </div>
      <br>
    </div>

    <hr>
    <h3>About me</h3>
    <div ng-repeat="t in about">
      <b ng-bind-html="t.title"></b>
      <div ng-bind-html="t.description" ng-html-bind="t.description">
      </div>
      <div>
        <br>
        <b>Get in touch:</b>
        <ul ng-repeat="tag in t.tags">
          <li>{{tag}}</li>
        </ul>
      </div>
    </div>
</div>
