<div class="row-fluid">
  <div class="span2 sidebar-nav sidebar-nav-fixed">
    <ul class="nav nav-list ">
      <li class="active"><a href="/#/#about">About Me</a></li>
      <li><a href="/#/#education">Education</a></li>
      <li><a href="/#/#experience">Experience</a></li>
      <li><a href="/#/#bucketlist">Bucket list</a></li>
    </ul>
  </div>
  <div class="offset2 span8" ng-controller="MainCtrl">
    <h1>CV - Kim Pettersen</h1>
    <br>

    <div>
      <strong>Important: </strong>This is the web interface of my CV. It is an <b>Angular JS</b> application that
      are communicating with an <b>API</b> written in <b>Node JS</b>, using <b>MongoDB</b> as a database. You are encouraged to clone the project from github and play with it.<br><br>

      See <a href="/#/documentation">Documentation for more information.</a><br>
      You can also <a href="javascript:;">print</a>, or <a href="javascript:;">download</a> it as a PDF.
    </div>

  <section id="about">
    <hr><div ng-repeat="t in about">{{t.title}}</div>
  </section>

  <section id="education">
    <hr><div ng-repeat="t in education">{{t.institution}}</div>
  </section>

  <section id="experience">
    <hr><div ng-repeat="t in experience"><h3 ng-bind-html="t.company"></h3><br><div ng-bind-html="t.description" ng-html-bind="t.description"></div></div>
  </section>

  <section id="bucketlist">
    <hr><div ng-repeat="t in bucketlist">{{t.title}}</div>
  </section>

  </div>
</div>
